[data-component-id="liebslog:ridelog"] {
}

table {
  border: 1px solid #444;
  border-collapse: collapse;
  padding: 1em;
}

td {
  border: 1px solid #444 !important;
  padding-right: 2em;
  white-space: nowrap;
}
